<div class="container-fluid mt-1 ">

    <a class="btn btn-primary m-3" role="button" routerLink="/konto/kupione"> Kupione </a>
    <a class="btn btn-primary m-3"  role="button"  routerLink="/konto/sprzedane"> Sprzedane </a>
    <a class="btn btn-primary m-3" role="button"   routerLink="/konto/galeria">Galeria </a>

  <div *ngFor="let imageObject of imageObjectsList;let i = index">
    <div class="alert alert-primary" role="alert">
      {{photoModels[i].name}}
    </div>
    <ng-image-slider [animationSpeed]="0.5" [images]="this.imageObject" #nav></ng-image-slider>
  </div>

</div>


